
.top-to-btm{
    position: relative;
}
.icon-position{
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 100;
}
.icon-position2{
    position: fixed;
    top: 120px;
    right: 20px;
    z-index: 100;
}
.icon-style{
    background-color: var(--color-violet);
    border: 2px solid #fff;
    border-radius: var(--length-sm2);
    height: 40px;
    width: 40px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
}
.icon-style:hover{
    animation: none;
    background: var(--color-disabled);
    color: var(--color-blue);
    border: 2px solid var(--color-blue);
}
@keyframes movebtn {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}